<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page_title }}</title>
    </head>
    <body>
        <h1>
        {% if weather %}
            Погода: {{ weather.temp_C }}, ощущается как: {{ weather. FeelsLikeC }}
        {% else %}
            Сервис погоды временно не доступен
        {% endif %}
        </h1>
    </body>
</html>